@font-face {
    font-family: lucida-grande;
    src: url(../assets/fonts/LucidaGrande.ttf);
}
@font-face {
    font-family: lucida-grande-bold;
    src: url(../assets/fonts/LucidaGrandeBold.ttf);
}
@font-face {
    font-family: noe-bold;
    src: url(../assets/fonts/noe-display-bold.otf);
}
@font-face {
    font-family: segoi-ui;
    src: url(../assets/fonts/SegoeUI.ttf);
}
@font-face {
  font-family: vegur-bold;
  src: url(../assets/fonts/vegur-bold.otf);
}
@font-face {
  font-family: "GeorgiaPro-CondSemiBold";
  src: font-url('georgia-pro-cond-cufonfonts/GeorgiaPro-CondSemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: lucida-sans-unicode;
    src: url(../assets/fonts/LucidaSansUnicode.ttf);
}
p,ul{
  font-size: 15px;
  font-weight:normal;
}
.row{
  width: 100%;
}
.navbar{
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  position: fixed;
  z-index: 9;
  background-color: white;
  border-radius: 0;
  height: 70px;
  box-shadow: 0px 1px 1px 1px #f3f3f3;
}
.company-name{
  font-weight: bold;
}
.company-logo img{
  width: 70px;
  height: 70px;
  margin-top: 7px;
}
.content{
  padding-top: 150px;
}
.main-image{
  width: 100%;
}
.footer-info{
  font-size: 15px;
}
.back-top{
  display: none;
}
.right-side{
  position: fixed;
}
.right-side .col-10{
  margin-top: 8px;
}
#lifestyle-text{
  margin-left:-35px;
}
#management-text{
  margin-left:0px;
}
#mobile-text{
  margin-left:50px;
}
#mobile-text a{
  margin-left:-24px;
}
#software-text{
  margin-left: -25px;
}
#software-text a {
  margin-left:-15px;
}
#design-text a{
  margin-left: -21px;
}
#uncategories-text{
  margin-left: -45px;
}
.categories{
  padding-top: 30px;
}
#design-text{
  margin-left:15px;
}
.navbar a{
  color: #5c656a;
  font-size: 13px;
  text-decoration: none;
}
.navbar a:hover{
  color:black;
}
a{
  color: black;
}
a:hover{
  color: black;
  text-decoration: none;
}
.number-favorite-blog{
  color: #e1e6ea;
  font-size: 34px;
}
.favorite-blog .col-11{
  padding-left: 30px;
  padding-top: 7px;
}
