@font-face {
    font-family: lucida-grande;
    src: url(../assets/fonts/LucidaGrande.ttf);
}
@font-face {
    font-family: lucida-grande-bold;
    src: url(../assets/fonts/LucidaGrandeBold.ttf);
}
@font-face {
    font-family: noe-bold;
    src: url(../assets/fonts/noe-display-bold.otf);
}
@font-face {
    font-family: segoi-ui;
    src: url(../assets/fonts/SegoeUI.ttf);
}
@font-face {
  font-family: vegur-bold;
  src: url(../assets/fonts/vegur-bold.otf);
}
@font-face {
  font-family: "GeorgiaPro-CondSemiBold";
  src: font-url('georgia-pro-cond-cufonfonts/GeorgiaPro-CondSemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
p,ul{
  font-size: 21px;
  font-weight:normal;
}
.row{
  width: 100%;
}
.navbar{
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  position: fixed;
  z-index: 9;
  background-color: white;
  border-radius: 0;
  height: 70px;
  box-shadow: 1px 1px 1px 3px #f3f3f3;
}
.company-name{
  font-weight: bold;
}
.company-logo{
  width: 70px;
  height: 70px;
  margin-top:10px;
}
.content{
  padding-top: 70px;
}
#highlight{
  margin-bottom: 125px;
}
#article-title{
  font-weight:bold;
  position: relative;
  top: 30%;
  font-size: 50px;
  font-family: "Times New Roman";
}
.admin-image{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 3px #f3f3f3;
  position: relative;
  top: 40%;
}
.admin-name{
  margin-top: 45px;
  color: black;
}
.admin-name a{
  text-decoration: none;
}
.follow-button{
  background-color:transparent;
  outline: 0!important;
  border-radius: 7px;
  margin-left: 10px;
}
#main-image{
  width: 100%;
  position: relative;
  top: 20%;
}
#main-content {
  font-size: 21px;
  font-family: "Times New Roman";
}
.big-admin-image{
  width: 150px;
  height: 150px;
  top: 0;
}
.content-desc{
  max-width: 800px;
  margin: auto;
}
.author-wrapper{
  display: flex;
  .author-profile{
    margin-right: 15px;
  }
}
.sub-title{
  font-weight: bold;
}
.big-word{
  font-size: 66px;
  height: 66px;
  padding-right: 7px;
  margin-top: -15px;
  float: left;
}